body {
    margin: 0;
    margin-top: 50px;
    font-family: 'Times New Roman', Times, serif;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    line-height: 100px;
    background-color: lightgray;
}

header .nav-img {
    height: 100px;
}

header * {
    display: inline;
    height: 50px;
}

header ul { 
    padding: 0;
}

header li {
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: black;
    font-size: large;
}
section {
    height: 100vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    font-size: larger;
}

p {
    text-align: left;
}

.techStack {
    display : inline;
    align-content: unset;
}

li {
    text-align: left;
}

#home .profile-img {
    width: 900px;
    border-radius: 50%;
}

footer {
    text-align: center;
    padding: 50px;
    background-color: lightgray;
}

/* #home {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://codetheweb.blog/assets/img/posts/steps-to-creating-a-website/field.jpg');
}

#about {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://codetheweb.blog/assets/img/posts/steps-to-creating-a-website/beach.jpg');
}

#contact {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://codetheweb.blog/assets/img/posts/steps-to-creating-a-website/canyon.jpg');
} */