body {
    background: #0f0f0f;
    color: white;
}

.navbar-brand-image {
    height: 40px;
    width:46px;
}

ul li {
    list-style-type: none;
    display: inline;
}

social-links {
    align-items: auto;
    justify-content: center;
}

a {
    text-decoration: none;
}